{% extends 'base.html.twig' %}

{% block body %}
<div class="card">
    <div class="card-header">
        <i class="far fa-file"></i>&nbsp;&nbsp;<b>Ingreso de datos</b>
    </div>
    <form method="post" name="formPerson" onsubmit="return validateSubmit(this, 'formPerson');">
    <div class="card-body">
    {% if person is defined %}
        {% if is_granted("ROLE_ADMIN") %}
        <div class="row">
            <div class="col-6 col-md-4 col-lg-2">
                <label>Usuario_M</label>
                <input class="form-control" type="text" value="{{person.usuarioM}}" readonly>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <label>Fecha_M</label>
                <input class="form-control" type="text" value="{{person.fechaM|date("d/m/Y")}}" readonly>
            </div>
        </div>
        {% endif %}
       <div class="row mt-4">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <label>Nombre<span class="ml-1 text-danger">*</span></label>
                <input class="form-control inputSuccess inputText" type="text" name="Person[name]" value="{{person.nombre}}" onfocusout="validarInput(0, 20)" required>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <label>Apellido<span class="ml-1 text-danger">*</span></label>
                <input class="form-control inputSuccess inputText" type="text" name="Person[lastname]" value="{{person.apellido}}" onfocusout="validarInput(1, 30)" required>
            </div>
        </div>
    {% else %}
        {% if is_granted("ROLE_ADMIN") %}
        <div class="row">
            <div class="col-6 col-md-4 col-lg-2">
                <label>Usuario_M</label>
                <input class="form-control" type="text" value="{{app.user.username}}" readonly>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <label>Fecha_M</label>
                <input class="form-control" type="text" value="{{"now"|date("d/m/Y")}}" readonly>
            </div>
        </div>
        {% endif %}
        <div class="row mt-4">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <label>Nombre<span class="ml-1 text-danger">*</span></label>
                <input class="form-control inputText" type="text" name="Person[name]" onfocusout="validarInput(0, 20)" required>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <label>Apellido<span class="ml-1 text-danger">*</span></label>
                <input class="form-control inputText" type="text" name="Person[lastname]" onfocusout="validarInput(1, 30)" required>
            </div>
        </div>
    {% endif %}
    <div class="float-right m-4">
            <button class="btn btn-info" type="submit"> 
                <i class="far fa-check-circle"></i> Guardar
            </button>
            <a class="btn btn-secondary text-white" onclick="history.back()"> 
                <i class="fas fa-undo-alt"></i> Volver
            </a>
        </div>
    </div>
    </form>
</div>
    
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script src="{{asset('js/customJs/validacionesForm.js')}}"></script>
{% endblock %}