<form method="POST">
  <div class="card mb-4 mt-4 table-responsive">
    <table class="table table-striped table-hover" id="tabla" namefile="Personas">
      <thead>
        <tr>
          {% import "@generator_bundle/th_sortable.html.twig" as macros %} 
          <th style="border:0px;">{{macros.th_sortable('id',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'example','#')}}</th>
          <th style="border:0px;">{{macros.th_sortable('nombre',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'example','Nombre')}}</th>
          <th style="border:0px;">{{macros.th_sortable('apellido',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'example','Apellido')}}</th>
          <th style="border:0px;" width = "100px" class="noExl">Acciones</th>
        </tr>
      </thead>
      <tbody> 
        {% for persona in personas %}
        <tr>
          <td>{{ persona.id }}</td>
          <td>{{ persona.nombre }}</td>
          <td>{{ persona.apellido }}</td>
          <td class="actions  noExl">
            <div class="btn-group">
              <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Opciones <span class="caret"></span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" title='Editar'  href="#">Editar registro<i class="ml-1 text-success far fa-edit"></i></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" title="Eliminar" style="cursor:pointer;" href="#">Eliminar registro<i class="ml-1 text-danger far fa-trash-alt"></i></a>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</form>